

<div class="modal-header">
			<h3 class="modal-title" ng-show="type=='confirm'">确认</h3>
			<h3 class="modal-title" ng-show="type=='error'">出错了</h3>
		</div>
		<div class="modal-body">

	<div class="form-group">
		<label for="" class="control-label confirmMessage">{{confirmMessege}}</label>
    </div>

</div>
		</div>
		<div class="modal-footer" ng-show="type=='confirm'">
			<button class="btn btn-primary" ng-click="ok()">
			确认
			</button>
			<button class="btn btn-warning" ng-click="cancel()">取消</button>
		</div>
		
		<div class="modal-footer" ng-show="type=='error'">
			<button class="btn btn-primary" ng-click="ok()">
			知道了
			</button>
			
		</div>