

<div class="modal-header">
			<h3 class="modal-title" style="display:inline">文件上传（最多{{queueLimit}}个）</h3> <label for="file-upload" class="custom-file-upload" style="float:right">
		    <i class="fa fa-cloud-upload"></i> 选择文件
		</label>
		</div>
<div class="modal-body">

	<div class="form-group">
		<!-- <label for="" class="control-label confirmMessage">{{confirmMessege}}</label>
		<br/> -->

		<input id="file-upload" type="file" nv-file-select="" uploader="uploader">
    </div>
                    <p>文件数: {{ uploader.queue.length }}</p>

                    <table class="table">
                        <thead>
                            <tr>
                                <th width="50%">Name</th>
                                <th ng-show="uploader.isHTML5">Size</th>
                                <th ng-show="uploader.isHTML5">Progress</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in uploader.queue">
                                <td><strong>{{ item.file.name }}</strong></td>
                                <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                <td ng-show="uploader.isHTML5">
                                    <div class="progress" style="margin-bottom: 0;">
                                        <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <span ng-show="item.isSuccess"><i class="fa fa-check"></i></span>
                                    <span ng-show="item.isCancel"><i class="fa fa-ban"></i></span>
                                    <span ng-show="item.isError"><i class="fa fa-remove"></i></span>
                                </td>
                                <td nowrap>
                                    <button type="button" class="btn btn-success btn-xs" ng-click="doUpload(item)" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                        <span class="fa fa-upload"></span> 上传
                                    </button>
                                    <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                        <span class="fa fa-ban"></span> 取消
                                    </button>
                                    <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                        <span class="fa fa-trash"></span> 删除
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>

</div>
		
		<div class="modal-footer">
			<button class="btn btn-primary" ng-click="ok(uploader)">
			确 定
			</button>
			<button class="btn btn-warning" ng-click="cancel()">取 消</button>
		</div>