a{
	color:rgba(00, 68, 00, 1);
}

a:focus, .nav>li>a:focus{
 	color:rgba(39, 39, 39, 0.7);
 	background-color:rgba(0,0,0,0);
 }


.nav>li>a:hover{
	background-color: rgba(238, 238, 238, 0);	
}

a:hover{
	color: rgba(39, 39, 39, 0.7);
	background: rgba(255,255,255,0.1);
	box-shadow:0.0em 0.0em 3em rgba(30,30,30,0.3);
    
}
.panel{
	cursor: pointer;
}
.panel:hover{
	/* background: #afafaf; */
	text-shadow: 0.05em 0.05em 0.05em rgba(30,30,30,0.3);
	box-shadow:0.0em 0.0em 3em rgba(30,30,30,0.3);
}

.menuActive{
	background: #ffffff;
	text-shadow: 0.05em 0.05em 0.05em rgba(30,30,30,0.3);
}

.form-control:focus {
    border-color: #909090;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(0,0,0,1);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(0,0,0,1);
}

.form-control:hover {
    border-color: #aeaeae;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(90,90,90,0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(90,90,90,0.6);
}

body{
	color:#727272;
}

.weui_switch {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    width: 75px;
    height: 31px;
    border: 2px solid #DFDFDF;
    outline: 0;
    border-radius: 16px;
    box-sizing: border-box;
    background: #FFFFFF;
    cursor:pointer;
}

.weui_switch:after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 26px;
    height: 26px;
    border-radius: 18px;
    background-color: #FFFFFF;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
}

.weui_switch:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 70px;
    height: 26px;
    border-radius: 15px;
    background-color: #FDFDFD;
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
}

.weui_switch:checked {
    border-color: rgba(0, 0, 0, 0.52);
    background-color: #000000;
}
.weui_switch:checked:before {
  -webkit-transform: scale(0);
          transform: scale(0);
}
.weui_switch:checked:after {
  -webkit-transform: translateX(44px);
          transform: translateX(44px);
}

.form-control-frame{
	padding: 0;
    border: none;
    box-shadow: none;
}

.form-control-frame:focus {
    border-color: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-control-frame:hover {
    border-color: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

input[type=checkbox]:focus{
	 border-color: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.nb-form-control-frame-bar{
	position: relative;
    padding: 2px;
    
    border: 0px solid #f0f0f0;
    box-shadow: none;
    background: #f0f0f0;
}

.nb-form-control-checkbox-button-text{
	display: inline-block;
    line-height: 35px;
    margin: 0;
    height: 35px;
    margin-left: 1em;
}

.nb-form-control-checkbox-button-checkbox{
	margin: 0px;
    float: right;
    margin-right: 2em;
}

input[type=text]{
	color: #7f7f7f;
}


.wrapper {
    width: 100%;
}

.page-wrapper {
    padding: 0 15px;
    min-height: 100vh;
    background-color: #ffffff;
}

 @media(min-width:768px) {
    .page-wrapper {
        position: absolute;
        margin: 0 0 0 250px;
        padding: 0 30px;
        border-left: 1px solid #e7e7e7;
        min-height: 100vh;
	    right: 0;
	    left: 0;
    }
} 

input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.img_frame{
    /* border: 1px dotted #858585; */
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}

.tableIndex{
	list-style:none;
	float:left;
	text-align:center;
}

.tableIndex li{
	
}

.tableIndex div{
	    padding: 0.4em;
    border: 1px solid #afafaf;
    margin: 0.2em;
    border-radius: 0.4em;
    cursor: pointer;
    min-width:2.7em;
}

.tableIndex div.disabled{
    cursor: not-allowed;
}

.tableIndex div.active{
    background: #000000;
    color: white;
}

